header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    width: 83%;
}

nav > div {
    display: flex;
    flex-direction: row;
}

header a, header p {
    margin: auto 0;
}

#logo { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 17%;
}

#logo > p { 
    font-size: 6em;
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    height: 100%;
    gap: 20px;
}

#links a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: auto 0;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 17%;
    height: 100%;
    gap: 10px;
}

#location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    height: 100%;
    gap: 10px;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    height: 100%;
    gap: 30px;
}