.home {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.home section {            
    width: 55%;
    height: 100%;
    margin: 3em 1em 3em 3em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.home span {
    font-size: 6rem;
    height: auto;     
}

.home h1 {
    font-size: 3.5rem; 
    font-weight: bold;
    margin: 2rem 0.5rem 0 0;
}

.home h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0.5rem 0 1rem 0;
}

.home h4 {
    margin: 0;
}

.home p {
    margin: 0;
}

.home button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: 2px solid #9381ff;
    border-radius: 15px;
    background-color: #9381ff;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
}
.home button:hover {
    background-color: #FFFFFF;
    color: #9381ff;
    border-color: #b8b8ff;
}

/* -------------------------------------------------------------------------- */
#main-container {
    display: flex;
}

#login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    padding: 2rem;
    background-color: #b8b8ff;
    border-radius: 10px;
    width: 45%;
}

#login-buttons { 
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1em;
}

.home__logo > p {
    font-size: 6px;
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.home__image {
    display: flex;
    margin: 0;
}

.home__image > img {
    margin: auto;
    margin-top: 50px;
    width: 90%;
}

.home__buttons {
    display: flex;
    margin: 5rem 0;
    gap: 1rem;
}

#home__buttons--accent-color {
    background-color: #fff;
    border-color: #9381ff;
    color: #9381ff;
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
}

#home__buttons--accent-color:hover {
    background-color: #9381ff;
    color: #FFFFFF;
    border-color: #b8b8ff;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    max-width: 40rem;
}
#grid > div {
    margin: 0.5rem 1rem;
}

@media screen and (max-width: 1030px) {
    #grid {
        grid-template-columns: 1fr;
    }
}