@mixin txtBox {
    border: none;
    border-radius: 24px;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.signin {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    section {
        width: 35%;
        height: 85%;
        background-color: var(--lightest-color);
        border: 1px solid rgb(0, 0, 0, 0.5);
        border-radius: 15px;
        margin: auto;
        padding: 2rem;

        header {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            margin: auto;
            margin-bottom: 0.5rem;
            gap: 5%;

            p {
                font-size: 2rem;
                font-weight: 600;
                margin: auto 0;
            }
        }

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            margin: 1rem auto; 
        }

        > p {
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
            margin: 0.5rem 0;
        }

        input {
            margin: 0.5rem auto;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1.2rem auto;
            width: 85%;

            input {
                @include txtBox; 
            }

            p {
                text-align: end;
                text-decoration: underline;
            }
        }
    }

    &__login {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;

        button {
            width: 60%;
            margin: 0.5rem auto;
        }
    }
}