@mixin txtBox {
    width: 27rem;
    height: 3rem;
    border: none;
    border-radius: 24px;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.signup-form {  
    width: 35vw;
    height: 85vh;
    background-color: #F8F7FF; 
    overflow-y: auto;
    overflow-x: hidden;
    
    > p {
        margin: 1.5rem 2.8rem;
        font-size: 3rem;
        font-weight: 600;
    }

    div {
        display: flex;
        flex-flow: wrap column;
        margin: 1rem 3rem;
        
        > label {
            margin-bottom: 0.2rem;
            font-size: 1.5rem;
        }
    }

    input:not([type="radio"]) {
        @include txtBox; 
    }

    > button {
        margin: 1.8rem auto;
        display: flex;
        justify-content: center;

        width: 12rem;
        height: 3rem;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 700;
        padding: 0.5rem 2rem;
        transition: background-color 0.7s ease, color 0.7s ease,
            border-color 0.7s ease;
        background-color: black;
        color: white;
        cursor: pointer;
    }
    > button:hover {
        background-color: white;
        color: black;
        border-color: black;
    }

    &__password {
        display: flex;
        align-items: center;
        position: relative;
        width: min-content;
        height: 3rem;

        input {
            padding-left: 10px;
        }
      
        .toggle-password {
            position: absolute;
            cursor: pointer;
            right: 1rem;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    &__state  {
        position: relative;

        select {
            appearance: none;
            @include txtBox; 
            cursor: pointer
        }
    }

    &__radio {
        display: flex;
        align-items: center;

        input {
            width: 1.5rem;      
            height: 1.5rem;
            margin: 0.5rem 0;
        }

        input:checked {
            background-color: aqua; font-size: small;
        }

        label {
            margin-left: 0.7rem;
            font-size: 1.2rem;
        }
    }

    /* Scrollbar */
    
    &::-webkit-scrollbar {
        width: 15px;
        height: 100vh;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #D9D9D9;        
        border-radius: 15px;
    }

    &::-webkit-scrollbar-track {
        scroll-behavior: auto;      
    }

    .signup-form__footer{
        p {
            margin: auto;
        }
    }
}
/*
.signup-form__state::before,
.signup-form__state::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.signup-form__state::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}*/