@mixin txtBox {
    border: none;
    border-radius: 24px;
}

.signup-form {  
    width: 35vw;
    height: 85vh;
    background-color: #F8F7FF; 
    overflow-y: auto;
    overflow-x: hidden;
    
    > p {
        margin: 1.5rem 2.8rem;
        font-size: 3rem;
        font-weight: 600;
    }

    div {
        display: flex;
        flex-flow: wrap column;
        margin: 1rem 3rem;
        
        > label {
            margin-bottom: 0.2rem;
            font-size: 1.5rem;
        }
    }

    input:not([type="radio"]) {
        @include txtBox; 
    }

    &__password {
        display: flex;
        align-items: center;
        position: relative;
        width: min-content;
        width: 100%;

        input {
            padding-left: 10px;
        }
      
        .toggle-password {
            position: absolute;
            cursor: pointer;
            right: 1rem;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    &__state  {
        position: relative;

        select {
            @include txtBox; 
        }
    }

    &__state::after {
        --size: 0.4rem;
        position: absolute;
        content: "";
        right: 1.3rem;
        pointer-events: none;
    }
    
    &__state::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid black;
        top: 70%;
    }

    &__radio {
        display: flex;
        align-items: center;

        input {
            width: 1.5rem;      
            height: 1.5rem;
            margin: 0.5rem 0;
        }

        label {
            margin-left: 0.7rem;
            font-size: 1.2rem;
        }
    }

    &__send {
        margin-top: 1.8rem;

        button {
            width: 12rem;
            height: 3rem;
            margin: auto;
        }
    }

    &__footer{
        p {
            margin: auto;
        }
        a {
            text-decoration: underline;
        }
    }

    /* Scrollbar */
    
    &::-webkit-scrollbar {
        width: 15px;
        height: 100vh;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #D9D9D9;        
        border-radius: 15px;
    }

    &::-webkit-scrollbar-track {
        scroll-behavior: auto;      
    }
}