@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");

:root {
    --primary-color: #9381ff;
    --secondary-color: #b8b8ff;
    --lightest-color: #f8f7ff;
    --warm-accent: #ffeedd;
    --warm-secondary: #ffd8be;
}

*,
html,
body,
main {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@mixin btn {    
    padding: 0.5rem 2rem;
    border: 1px solid;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.7s ease, 
        color 0.7s ease, border-color 0.7s ease;
}

button {
    @include btn;
    border-radius: 30px;
    border-color: black;
    color: white;
    background-color: black;
}
button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.btn-alt {
    @include btn;
    border-radius: 15px;
    border-color: var(--primary-color);
    color: var(--lightest-color);
    background-color: var(--primary-color);
}
.btn-alt:hover {
    background-color: var(--lightest-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-alt--accent {
    @include btn;
    border-radius: 15px;
    border-color: var(--primary-color);
    background-color: white;
    color: var(--primary-color);
}
.btn-alt--accent:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--lightest-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    height: 3rem;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

select {
    appearance: none;
    cursor: pointer;
}
