.signup {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 85vh;
    overflow-y: hidden;

    &__info {
        width: 65%;
        background: linear-gradient(180deg, #D0C5F9 0%, #E8E0FF 100%);
        padding: 2rem;
    }

    &__content {
        padding: 3rem;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            color: #fff;
        }

        > p {
            font-size: 1.5rem;
            color: #fff;
            margin: 1.5rem 0;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__card {
            background: linear-gradient(180deg, #FFFACD 0%, #FFF9E7 100%);
            padding: 1.5rem;
            border-radius: 10px;

            &__title {
                font-weight: bold;
                color: #000;
            }

            &__text {
                color: #000;
            }
        }
    }
}