.signup {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 85vh;
    overflow-y: hidden;

    &__img {
        width: 65%;
        background-color: brown;
        padding: 2rem;
        
        img {
            width: 100%;
            height: 100%;
        }  
    }
}
